* {
	font-family: monospace
}

.signature {
	display:inline-block;
	float: left;
	width: 40px;
}

.stringName {
	display:block;
}

.staff {
	display:inline-block;
}

.measure {
	display:inline-block;
}

.string {
	display:block;
}

.editable, .beatCount  {
	opacity: .4;
	float: left;
	width: 12px;
	text-align: center;
}

.sixteenth {
	opacity:.6;
}

.eighth {
	opacity:.7;
}

.quarter {
	opacity:.85;
}

.edited {
	font-weight: bold;
	opacity: 1.0;
}

.duration {
	color: blue;
	opacity: 0.4;
}

.highlighted {
	font-weight: bolder;
	background-color: rgb(255,255,0);
}

.selected {
	font-weight: bolder;
	background-color: rgb(0,128,255);
}

.visibleDiv {
	position: fixed;
    top: 10px;
	right: 20px;
	padding:5px 10px 5px;
	border: solid 1px gray;
	width: 135px;
}

.visibleDiv p {
	font-size: 11px;
}
